
<html>
  <head>
    <title>Choice A</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    .mySlides {display:none;}
</style>
  </head>
  <body>
   
   <!--  <div class="jumbotron text-center">
      <h1>Input Simulation</h1>
      <p>Click to simulate number of blinks</p> 
      <button type="button" class="btn btn-success">Success</button>
      <a ><input class="btn btn-info" onClick="myFunction()" type="button" value="Blink"></a>
      <p id="demo"></p>
    </div> -->
      
    <div class="container jumbotron text-center">
      <center>
      
        <h1>Photo Album</h1>

        <%= javascript_pack_tag 'my_js' %>
        <a href="/visuals"><input class="btn btn-light" id="button1" type="button" value="2 blinks to go Back"></a>
        <div class="container jumbotron">
          
          <div  style="max-width:500px">
    			  <img class="mySlides" src="/images/6810img1.jpg" style="width:100%">
    			  <img class="mySlides" src="/images/6810img2.jpg" style="width:100%">
    			  <img class="mySlides" src="/images/6810img3.jpg" style="width:100%">
            <img class="mySlides" src="/images/6810img4.jpg" style="width:100%">
            <img class="mySlides" src="/images/6810img5.jpg" style="width:100%">
            <img class="mySlides" src="/images/6810img6.png" style="width:100%">
            <img class="mySlides" src="/images/6810img7.png" style="width:100%">
    			</div>

        </div>
      </center>
    </div>
  </body>
  <script >
  
    var count= 0;
    var prev = 0;
    var diff = 0;
    var current = 0;
    var newBlink = true;

    function reset(){
      console.log("reset");
      newBlink = true;
      if(current!=prev){
        document.getElementById("actual").innerHTML = "Final Choice: "+document.getElementById("button"+(((current-prev)-1)%4+1)).value;
        // document.getElementById("demo").innerHTML = "Simulating "+count+" blinks";
      }
      prev = current;
      location = "/visuals/photos"  

    }


    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    // auto refresh 
    setInterval(function(){
     
     //TODO: uncomment for actual demo! 
      Rails.ajax({
        url: "/pages",
        type: "get",
        data: "",
        success: function(data) {
          current = data.blinks;
          console.log(prev+" " +current);
          if(prev<current){
            
            // only start simulating button clicks if the user is starting to blink (initial refresh will yield a big diff between prev at 0 and current at 100+)
            if((current-prev<10)){
              //group together 2 blinks
              console.log(prev+" " +current);
              if((current-prev)>=2){
              	document.getElementById("button1").className = "btn btn-dark";
              	location = '/visuals';
              }
              else{
              	prev = current;
              }
            }else{
              prev = current;
            }
            
            
          }
        },
        error: function(data) {console.log("this was an error");}
      })
    },1500); 

  </script>
</html>

