<html>
  <head>
    <title>Wira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
   
   <!--  <div class="jumbotron text-center">
      <h1>Input Simulation</h1>
      <p>Click to simulate number of blinks</p> 
      <button type="button" class="btn btn-success">Success</button>
      <a ><input class="btn btn-info" onClick="myFunction()" type="button" value="Blink"></a>
      <p id="demo"></p>
    </div> -->
      
    <div class="container jumbotron text-center">
      <center>
      
        <h1>Choices</h1>

        <%= javascript_pack_tag 'my_js' %>
        <div class="container jumbotron">
          <a href="/choiceA" id="btn1"><input href="/choiceA" class="btn btn-light" id="button1" type="button" value="Turn on Kitchen Light"></a>
          <p></p>
          <a href="/choiceB" id="btn2" ><input href="/choiceA" class="btn btn-light" id="button2" type="button" value="Lock Front Door"></a>
          <p></p>
          <a href="/choiceC" id="btn3"><input href="/choiceA" class="btn btn-light" id="button3" type="button" value="Turn on Heater"></a>
          <p></p>
          <a href="/choiceD" id="btn4"><input href="/choiceA" class="btn btn-light" id="button4" type="button" value="Turn on TV"></a>
          <p id="actual"></p>
        </div>
      </center>
    </div>
  </body>
  <script >
  
    var count= 0;
    var prev = 0;
    var diff = 0;
    var current = 0;
    var newBlink = true;
    function myFunction() {
      console.log("here");
      count++;
      if(count>1){
        document.getElementById("demo").innerHTML = "Simulating "+count+" blinks";
      }
      else{
        document.getElementById("demo").innerHTML = "Simulating "+count+" blink";
      }
      var i;
      for(i =1; i<=4; i++){
        document.getElementById("button"+i).className = "btn btn-light";
      }
        
        document.getElementById("button"+((count-1)%4+1)).className = "btn btn-dark";
        document.getElementById("actual").innerHTML = "Selecting: "+document.getElementById("button"+((count-1)%4+1)).value;

      // to confirm that this is indeed the choice
      setTimeout(reset, 2500);
    }

    function reset(){
      console.log("reset");
      newBlink = true;
      if(current!=prev){
        document.getElementById("actual").innerHTML = "Final Choice: "+document.getElementById("button"+(((current-prev)-1)%4+1)).value;
        // document.getElementById("demo").innerHTML = "Simulating "+count+" blinks";
        location = document.getElementById("btn"+(((current-prev)-1)%4+1)).href;
      }
      prev = current;

      
      

    }

    // setInterval(function(){
    //   document.getElementById("actual").innerHTML = "Final Choice: "+document.getElementById("button"+(((current-prev)-1)%4+1)).value;
    //   count = 0;
      

    // }, 4000);
    // setTimeout(function(){
    //   location = '';
    
    //   var next = posted.substring(posted.indexOf("|")+1);
    //   for(i =1; i<=4; i++){
    //     if(i!= parseInt(posted)%4+1){
    //       document.getElementById("button"+i).className = "btn btn-light";
    //     }
    //   }
    //   document.getElementById("button"+(parseInt(posted)%4+1)).className = "btn btn-dark";

    //   //
    //   if(next === "1"){
    //     location.href = "new_page_path";
    //   }
    // }, 1000);
    // setInterval(function(){
    //   document.getElementById("demo").innerHTML = "Simulating "+(diff)+" blinks";
    // }, 2500);
    // auto refresh 
    setInterval(function(){
     
     //TODO: uncomment for actual demo! 
      Rails.ajax({
        url: "/pages",
        type: "get",
        data: "",
        success: function(data) {
          // console.log(data.blinks);
          // console.log(prev);
          current = data.blinks;
          console.log(prev+" " +current);
          if(prev<current){
            
            // only start simulating button clicks if the user is starting to blink (initial refresh will yield a big diff between prev at 0 and current at 100+)
            if((current-prev<10)){
              for(i =1; i<=4; i++){
                document.getElementById("button"+i).className = "btn btn-light";
              }
                
              document.getElementById("button"+(((current-prev)-1)%4+1)).className = "btn btn-dark";
              
              console.log("it's a new set of blinks"+newBlink);
              if(newBlink){
                console.log("setting a reset");
                newBlink = false;
                setTimeout(reset, 4200);
              }
            }else{
              //know at least one diff because prev<current
              prev = current;
            }
            
            
          }

          //get the button highlighted here

        },
        error: function(data) {console.log("this was an error");}
      })
     
      
    },1000); 

  </script>
</html>

